.advantages__title {
  margin-bottom: 50px;
}

.advantages-list {
  margin-left: calc(-1 * $card-set-gap);
  font-size: 14px;
  line-height: 1.71;
  display: flex;

  &__item {
    margin-left: $card-set-gap;
    flex-basis: calc((100% / 4) - $card-set-gap);
  }

  &__box {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: $primary-bg-color;
  }

  &__title {
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
