.clients__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients-list {
  margin-left: -30px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: inherit;
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% / 2) - 60px);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% / 3) - 90px);
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% / 6) - 180px);
    }
  }

  &__box {
    // width: 100%;
    // height: 100%;

    display: flex;

    width: 210px;
    height: 92px;

    padding: 16px 52px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border $transition-time $transition-time-func;
    .clients-list__link:hover &,
    .clients-list__link:focus & {
      border: 1px solid $primary-accent-color;
    }

    @media screen and (min-width: 768px) {
      padding: 16px 60px;

      width: 226px;
      height: 92px;
    }

    @media screen and (min-width: 1200px) {
      padding: 16px 32px;

      width: 170px;
      height: 92px;
    }
  }

  &__icon {
    // max-width: auto;
    // max-width: auto;

    align-self: center;

    width: 100%;
    width: 100%;

    fill: #afb1b8;
    transition: fill $transition-time $transition-time-func;
    .clients-list__link:hover &,
    .clients-list__link:focus & {
      fill: $primary-accent-color;
    }
  }
}
