.clients__title {
  margin-bottom: 50px;
}

.clients-list {
  margin-left: calc(-1 * $card-set-gap);
  margin-bottom: calc(-1 * $card-set-gap);
  display: flex;

  &__item {
    margin-left: $card-set-gap;
    margin-bottom: $card-set-gap;
    flex-basis: calc((100% / 5) - $card-set-gap);
  }

  &__box {
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border $transition-time $transition-time-func;
    .clients-list__link:hover &,
    .clients-list__link:focus & {
      border: 1px solid $primary-accent-color;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill $transition-time $transition-time-func;
    .clients-list__link:hover &,
    .clients-list__link:focus & {
      fill: $primary-accent-color;
    }
  }
}
