.example-list {
  margin-left: -30px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
}

.example-list__item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% / 3) - 30px);
  position: relative;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &::after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity $transition-time $transition-time-func;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover::after {
    opacity: 1;
  }
}

.example-list__card-thumb {
  position: relative;
  overflow: hidden;
}

.example-list__text-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.example-list__description {
  display: block;
  position: absolute;
  padding: 63px 24px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $secondary-accent-color;
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  transition: transform $transition-time $transition-time-func;
  .example-list__item:hover &,
  .example-list__item:focus & {
    transform: translateY(-100%);
  }
}

.example-list__title {
  margin-bottom: 4px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.example-list__text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}
