.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  color: $title-text-color;
  background-color: $secondary-accent-color;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo--header-logo {
  margin-right: 0px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo--dark-logo {
  color: $logo-color;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: none;

  @media screen and (min-width: 768px) {
    display: flex;

    & .current {
      position: relative;
      color: $primary-accent-color;
    }
  }

  // display: flex;
  // & .current {
  //   position: relative;
  //   color: $primary-accent-color;
  // }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  transition: color $transition-time $transition-time-func,
    fill $transition-time $transition-time-func;
  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
  &.current::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 4px;
    background-color: $primary-accent-color;
    border-radius: 2px;

    @media screen and (min-width: 1200px) {
      top: 46px;
    }
  }
}

.header-contacts {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  // display: flex;
  margin-left: 84px;

  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contacts__item {
  display: flex;
  // align-items: center;
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  transition: color $transition-time $transition-time-func,
    fill $transition-time $transition-time-func;

  &:focus:focus,
  &:hover:hover,
  &:focus .header-contacts__icon,
  &:hover .header-contacts__icon {
    color: $primary-accent-color;
    fill: $primary-accent-color;
  }
}

.header-contacts__icon {
  margin-right: 8px;
  fill: $primary-text-color;

  justify-content: center;
  align-items: center;

  transition: fill $transition-time $transition-time-func;

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header-contacts__icon--mail {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    max-width: 14px;
    max-height: 10px;
  }

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.header-contacts__icon--phone {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 10px;
    height: 14px;
  }

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.menu-open {
  position: absolute;
  right: 30px;
  top: 19px;
  // width: 30px;
  // height: 30px;

  border: none;
  background: transparent;
  cursor: pointer;
  &:hover .menu-open__icon {
    fill: $primary-accent-color;
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: $title-text-color;
    transition: fill $transition-time $transition-time-func;
  }

  &__icon:hover {
    fill: $primary-accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
    pointer-events: none;
  }
}

.menu-close {
  position: absolute;
  right: 35px;
  top: -22px;
  // width: 30px;
  // height: 30px;

  border: none;
  background: transparent;
  cursor: pointer;
  &:hover .menu-close__icon {
    fill: $primary-accent-color;
  }

  &__icon {
    width: 15px;
    height: 15px;
    fill: $title-text-color;
    transition: fill $transition-time $transition-time-func;
  }

  &__icon:hover {
    fill: $primary-accent-color;
  }
}

.mob-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  padding: 48px 0 48px 25px;
  .container {
    // l
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .current {
    color: $primary-accent-color;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $title-text-color;
}

.mob-menu-contacts {
  margin-bottom: 64px;
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  font-size: 24px;
  line-height: 1.17;
}

.mob-menu-contacts__link--large {
  // font-size: 34px;
  line-height: 1.18;
  color: $primary-accent-color;
  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mob-menu-social {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $primary-accent-color;
  text-decoration: none;
}

.mob-menu-social__item {
  &:not(:last-child) {
    margin-right: 10px;
    display: flex;

    &::after {
      content: "";
      height: 100%;
      width: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      display: block;
      margin-left: 10px;
    }
  }
}
