.team {
  background-color: $secondary-bg-color;
}

.team__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.team-list {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: -30p;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
  }

  &__item {
    width: inherit;
    // margin-left: 30px;
    // flex-basis: calc((100% / 4) - 30px);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    margin-bottom: $card-set-gap;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-left: $card-set-gap;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 120px) / 4);
    }
  }

  &__text-wrapper {
    padding: 30px 32px;
    border-radius: 0 0 4px 4px;
    background-color: $header-bg-color;
    text-align: center;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
  }

  &__text--dark {
    color: $title-text-color;
  }

  &__subtext {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    margin-bottom: 16px;
  }
}
