// :root {
//   --primary-text-color: #757575;
//   --title-text-color: #212121;
//   --primary-accent-color: #2196f3;
//   --secondary-accent-color: #ffffff;
//   --logo-color: #000000;
//   --footer-link-color: rgba(255, 255, 255, 0.6);
//   --header-bg-color: #ffffff;
//   --hero-bg-color: #2f303a;
//   --footer-bg-color: #2f303a;
//   --primary-bg-color: #f5f4fa;
//   --secondary-bg-color: #e5e5e5;
//   --card-set-gap: 30px;
//   --transition-time: 250ms;
//   --transition-time-func: cubic-bezier(0.4, 0, 0.2, 1);
// }

$primary-text-color: #757575;
$title-text-color: #212121;
$primary-accent-color: #2196f3;
$secondary-accent-color: #ffffff;
$logo-color: #000000;
$footer-link-color: rgba(255, 255, 255, 0.6);
$header-bg-color: #ffffff;
$hero-bg-color: #2f303a;
$footer-bg-color: #2f303a;
$primary-bg-color: #f5f4fa;
$secondary-bg-color: #e5e5e5;
$card-set-gap: 30px;
$transition-time: 250ms;
$transition-time-func: cubic-bezier(0.4, 0, 0.2, 1);
